<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= typeof title !== 'undefined' ? title : 'Arshcon & Form | Home Page' %>
  </title>
  <link href="https://fonts.cdnfonts.com/css/stylus-bt" rel="stylesheet" />

  <style>
    @import url("https://fonts.cdnfonts.com/css/stylus-bt");
  </style>

  <link rel="stylesheet" content="text/css" href="/css/main.css" />
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-0BSNYLH2D8"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-0BSNYLH2D8");
  </script>
</head>
