<nav class="nav-container">
  <a href="/api/" class="logo"
    ><img src="/Images/arshcon.png" alt="Arshcon Logo" height="60"
  /></a>
  <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
  <ul class="nav-lists">
    <li class="nav-item"><a href="/api/">Home</a></li>
    <li class="nav-item"><a href="/api/About">About Us</a></li>
    <li class="nav-item"><a href="/api/Services">Services</a></li>
    <li class="nav-item"><a href="/api/projects">Projects</a></li>
    <li class="nav-item"><a href="/api/Contact">Contact Us</a></li>
  </ul>
</nav>
